{{#session}}
<div class="flex-item-speakers">
    <p class="speaker-name"> {{name}}</p>
    <div class="company-caption"> {{company}}</div>
    <p class="session-title"> {{title}}</p>
</div>
{{/session}}