{{#session}}
    <tr>
        <td>
            <div class="session-title">{{Title}}</div>
            <div>{{Proposal}}</div>
        </td>
        <td>
            <div class="session-presenter"> {{Name}}</div>
            <div class="session-company"> {{Company}}</div>
        </td>
    </tr>
{{/session}}