.navbar-default {
    min-height: 80px !important;
}

.navbar-logo {
    max-height: 60px !important;
    margin-top: 10px !important;
}

#company-list {
    width: 100%;
    color: white;
}

.dark {
    background-color: #000;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #000;
}

.banner {
    background-color: #000;
}

.event-details-date {
    color: #fff;
    padding-top: 40px;
}

.event-details-location {
    color: #fff;
}

.subtitle {
    color: #fff;
}

.title {
    color: #ff9900;
}

.flex-item-speakers {
    text-align: center;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    line-height: 75%;
}

.sponsor-table td {
    vertical-align: middle;
}

.session-table td {
    border-bottom: 1px solid #DDD;
}

.session-table .session-type {
    background-color: #ff9900;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.map-sidebar {
    background-color: #000;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 400px;
}

.banner {
    padding: 100px;
}

@media screen and (min-width: 320px) {
    .banner {
        padding: 20px;
        height: auto;
    }

    .title {
        text-align: center;
        font-size: 100px;
        padding-top: 100px;
    }

    .subtitle {
        font-size: 25px;
        text-align: center;
    }

    .event-details-date {
        font-size: 35px;
    }

    .event-details-location {
        font-size: 17px;
    }

    .flex-item-attendees {
        width: 50%;
        margin: 20px 0;
    }

    .flex-item-partners {
        width: 45%;
        margin: 0% 2.5%;
    }

    .flex-item-speakers {
        width: 50%;
    }

    .map-sidebar {
        padding: 1px 25px 0;
    }
}

@media screen and (min-width: 992px) {
    .banner {
        padding: 100px 100px 50px;
        height: auto;
    }

    .title {
        font-size: 160px;
        text-align: left;
        padding-top: 20px;
        margin-bottom: -20px;
    }

    .subtitle {
        font-size: 46px;
        text-align: left;
    }

    .event-details-date {
        font-size: 65px;
        color: #fff;
        padding-top: 40px;
    }

    .event-details-location {
        font-size: 35px;
        color: #fff;
    }

    .flex-item-attendees {
        width: 20%;
        margin: 20px 0;
    }

    .flex-item-partners {
        width:  15%;
        margin: 0% 5%;
    }

    .flex-item-sponsors {
        width:  33%;
        /*margin: 0% 5%;*/
    }

    .flex-item-speakers {
        width: 25%;
    }

    .map-sidebar {
        padding: 0 25px;
    }
}

#about {

}

#attendees {

}

#tickets {
}

#venue {

}

.attendees-subtitle {
    text-align: center;
}

.button-text {
    color: #fff;
}

.company-caption {
    font-family: 'Helvetica-Light', 'Helvetica', sans-serif;
    font-style: oblique;
    font-variant: normal;
    font-weight: 100;
    text-align: center;
    font-size: 15px;
}

.company-logo {
    margin: 10px 0;
}

.description-heading {
    color: #ff9900;
    margin: 50px 0;
}

.embed-responsive {
    max-height: 200px;
}

.filler {
    background-color: #d8d8d8;
    height: 150px;
    margin: 40px 20px 20px;
}

.hotel-subheading {
    color: #ff9900;
}

.map-content {
    color: #fff;
    margin: 5px 0;
    font-size: 15px;
}

.map-subheading {
    color: #ff9900;
    text-transform: uppercase;
    margin: 35px;
}

.map-widget {
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.partners-subheading {
    color: #ff9900;
    /*margin: -50px 50px 20px;*/
}

.partners-section {
    text-align: center;
    width: 100%;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.session-room {
    font-weight: bold;
}

.session-presenter {
    font-weight: bold;
    padding-top: 10px;
}

.session-title {
    color: #ff9900;
    font-weight: bold;
    padding-bottom: 5px;
}

.video {
    text-align: center;
    margin: 25px 0;
}

.conduct {
    padding-top: 15px;
}

.conduct a {
    color: white;
}

 .tito-wrapper {
	background:#ffffff !important;
}

 .sponsors {
     text-align: center;
     vertical-align: middle;
 }
