@import url('//fonts.googleapis.com/css?family=Archivo+Black');

@media (min-width: 320px) {
    .content-section {
        padding: 50px 25px;
    }
}

@media (min-width: 1025px) {
    .content-section {
        padding: 50px 150px;
    }
}

body {
    /*letter-spacing: 1px;*/
    /*font-family: 'Archivo Black';*/
    font-size: 18px;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
}

p, table {
    /*font-family: 'Helvetica-Light', 'Helvetica', sans-serif;*/
    /*line-height: 150%;*/
    /*font-style: normal;*/
    /*font-variant: normal;*/
    /*font-weight: 100;*/
    /*margin: 15px;*/
    /*font-size: 20px;*/
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    vertical-align: top;
    padding: 10px;
}

li {
    color: #f19333;
    font-size: 20px;
}

i {
    color: #fff;
}

h1 {
    font-size: 150px;
    text-align: center;
}

h2 {
    font-size: 50px;
    color: #fff;
}

h3 {
    font-size: 32.5px;
    text-transform: uppercase;
    text-align: center;
    color: #f19333;
    margin: 0 0 20px 0;
}

h4 {
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}

h5 {
    font-size: 30px;
    margin: 25px 50px 20px;
}

h6 {
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.btn {
    background-color: #f19333;
    border: none;
    -moz-border-radius: 3;
    border-radius: 3;
    margin-top: 35px;
}

.btn:hover {
    background-color: #f4ac63;
}

.b-styling {
    font-weight: bold;
    color: #f19333;
    font-style: oblique;
    margin-bottom: 50px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: black;
    background-color: #F2F2F2;
    border-radius: 0;
}

.tab-content {
    color: white;
    background-color: #F2F2F2;
    padding: 5px 15px;
}

.flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*  bhoechie tab */
div.tab-container {
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ddd;
}

div.tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.tab-menu div.list-group {
    margin-bottom: 0;
}

div.tab-menu div.list-group > a {
    margin-bottom: 0;
}

div.tab-menu div.list-group > a .glyphicon,
div.tab-menu div.list-group > a .fa {
    color: #f19333;
}

div.tab-menu div.list-group > a:first-child {
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}

div.tab-menu div.list-group > a:last-child {
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}

div.tab-menu div.list-group > a.active,
div.tab-menu div.list-group > a.active .glyphicon,
div.tab-menu div.list-group > a.active .fa {
    background-color: #f19333;
    border-color: #f19333;
    color: #ffffff;
}

div.tab-menu div.list-group > a.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #f19333;
}

div.tab-content {
    background-color: #ffffff;
}

div.tab div.tab-content:not(.active) {
    display: none;
}



